.requirement-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;

    input {
        margin-bottom: 10px;
    }
}
.requirement-row > div {
    padding: 0 5px;
}
.form-input {
    margin-bottom: 5px;
}
.formset-separator {
    border: 0;
    height: 1px;
    background: #eee;
}
.alert.alert-danger {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
.remove-requirement-btn {
    margin-top: 5px;
}
.reqs-form-holder {
    display: grid;
    margin-bottom: 10px;
}
.form-group {
    display: grid;
    gap: 10px;
}
.col-md-5, .col-md-4, .col-md-2 {
    display: grid;
    padding: 0 5px;
}
////
.profile {
    &-container {
        position: relative;
        height: 100%;
        min-height: 100vh;
        padding: clamp(50px, 7vw, 87px) clamp(100px, 10vw, 200px);
        background: linear-gradient(to bottom, var(--light-red-col), var(--dark-gray-col), var(--light-red-col));
    }
    &-main-content {
        position: relative;
        min-height: 100vh;
        display: flex;
        margin: 0 auto;
        padding: clamp(12px, 2vw, 48px) clamp(12px, 3.3vw, 61px);
        border-radius: clamp(20px, 4vw, 50px);
        background: linear-gradient(to bottom, var(--light-col), var(--light-gray-col));
    }
    &-block {
        height: fit-content;
        padding: clamp(5px, 1vw, 10px) clamp(40px, 4vw, 90px);
        display: grid;
        text-align: left;
        margin-bottom: 150px;
    }
    &-menu-btn {
        display: none;  
    }
}

.sidebar {
    &-menu-header {
        display: flex;
        font-size: clamp(20px, 7vw, 40px) !important;
        color: var(--dark-col);
        margin-bottom: clamp(34px, 12vw, 60px);

        .sidebar-cross {
            width: clamp(12px, 4vw, 25px);
        }
    }
    &-list {
        display: grid;
        gap: clamp(10px, 4vw, 30px);
    }
    &-el {
        display: flex;
        align-items: center;
        font-size: clamp(14px, 4vw, 31px);
        
        color: var(--dark-col);
        border-radius: 20px;
        cursor: pointer;
        background: var(--light-col);
    }
    &-onclick   {
        padding: 4px clamp(6px, 3vw, 19px);  
    }
}
