.create-team {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    &-header {
        display: flex;
        margin: 0 auto;
        margin-bottom: 4wv;
        text-align: center;
        color: var(--dark-col);
        font-size: clamp(24px, 4vw, 55px);
        p {
            line-height: 1;
        }
    }

    &-content {
        overflow: scroll;
        display: flex;
        height: 85vh;
        max-height: 1200px;
        padding: 21px 15px;
        
        background: var(--light-gray-col);
        border-radius: 20px;
        border: 4px solid var(--dark-gray-col);
        
        .your-team {
            width: 40%;
            padding-inline: 10px;
        }
        
        .choose-request {
            &-list  {
                width: 60%;
            }
            &-el {
                position: relative;
                margin-top: 10px;
                padding: 10px 20px;
                background-color: #a7a6a6;
                border-radius: 10px;
                border: 2px solid #333;

                p {
                    color: var(--dark-col);
                    font-size: clamp(15px, 2.3vw, 25px);
                }
                h2 {
                    font-size: clamp(12px, 2vw, 20px);
                    color: #222;
                }
                h3 {
                    margin-top: 6px;
                    font-size: clamp(10px, 1.8vw, 18px);
                    color: #323232;
                }
                h4 {
                    margin-bottom: 16px;
                    font-size: clamp(7px, 1.5vw, 12px);
                    color: #565454;
                }
                &-orgname {
                    margin-top: 10px;
                }
                &-more {
                    font-size: clamp(11px, 1.9vw, 18px);
                    margin-top: 12px;
                    color: #222;
                }
            }
            
            &-add-btn {
                position: absolute;
                top: 10px;
                right: 15px;
                padding-inline: 8px;
                color: #000;
                border-radius: 50%;
                border: 2px solid;
                background: #727272;
            }
        }
        .separator {
            display: flex;
            text-align: center;
            align-self: center;
            justify-self: center;
            margin: 0 10px;
            width: 3px;
            height: 100%;
            border: 2px solid var(--dark-gray-col);
        }
    }

}

.choose-request-el, 
.added-request-item {
    padding: 21px 15px;
    margin-bottom: 10px;
    
    background-color: #a7a6a6;
    border-radius: 10px;
    border: 2px solid #333;

    p {
        color: var(--dark-col);
        font-size: clamp(15px, 2.3vw, 25px);
    }
    h2 {
        font-size: clamp(12px, 2vw, 20px);
        color: #222;
    }
}

.remove-team-btn {
    color: #520505;
    margin-top: 10px;
    font-size: clamp(12px, 2vw, 20px);
}