{% extends 'index.html' %}
{% block content %}
<div class="profile-container">
    <div class="profile-main-content">
        <div class="create-team">
            <div class="create-team-header">
                <p>Создайте свою команду<br>и начните реализовывать ваши идеи вместе!</p>
            </div>

            <div class="create-team-content">
                <div class="your-team">
    
                </div>            
    
                <hr class="separator">
                <div class="choose-request-list">
                   <div class="choose-request-el">
                       <button type="button" class="choose-request-add-btn">+</button>

                        <p>Заявка №1:</p>
                        <p>Автор: Илья Ильич</p>

                        <h2 class="choose-request-el-orgname">Название организации:</h2>
                        <h2>MyOrganization.com</h2>
                        
                       <details>
                           <summary class="choose-request-el-more">Подробнее</summary>
                           <h3>Предлагаемое решение:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Опыт применения:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Общая сумма бюджета: <span>38000</span>₽</h3>
                        </details>
                    </div>

                   <div class="choose-request-el">
                       <button type="button" class="choose-request-add-btn">+</button>

                        <p>Заявка №2:</p>
                        <p>Автор: Ильич Фёдор</p>
                        
                        <h2 class="choose-request-el-orgname">Название организации:</h2>
                        <h2>MyNewOrg.com</h2>
                        
                        <details>
                           <summary class="choose-request-el-more">Подробнее</summary>
                           <h3>Предлагаемое решение:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Опыт применения:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Общая сумма бюджета: <span>122000</span>₽</h3>
                        </details>
                    </div>

                   <div class="choose-request-el">
                       <button type="button" class="choose-request-add-btn">+</button>

                        <p>Заявка №3:</p>
                        <p>Автор: Егор Ильич</p>

                        <h2 class="choose-request-el-orgname">Название организации:</h2>
                        <h2>SomeAwesomeOrg.com</h2>
                        
                       <details>
                           <summary class="choose-request-el-more">Подробнее</summary>
                           <h3>Предлагаемое решение:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Опыт применения:</h3>
                           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum magni asperiores natus eligendi? Quo necessitatibus ipsa molestias ab voluptatum a voluptas numquam ea aut, omnis repellendus recusandae aspernatur dolorum fuga.</h4>
                           
                           <h3>Общая сумма бюджета: <span>54000</span>₽</h3>
                       </details>
                   </div>
                </div>
            </div>

            <button class="create-final-team-btn" type="button">
                Создать команду
            </button>
        </div>
    </div>
</div>
{% endblock %}